<nav
  class="navbar fixed-top navbar-expand-lg bg-body-tertiary navbar-dark bg-main"
>
  <div class="container-fluid" (click)="SideNavToggle()">
    <!--<button
      class="navbar-toggler"
      type="button"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="SideNavToggle()"
    >
      (click)="navbarCollapsed = !navbarCollapsed"
    </button>-->
    <span class="navbar-toggler-icon"></span>
    <a class="navbar-brand" href="#">Finansys</a>
    <div
      [class.collapse]="navbarCollapsed"
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/reports">Relatório</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/entries">Lançamentos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/categories">Categorias</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
