<nav class="mb-5 bg-light">
  <div class="container rounded-1 Small bg-dark shadow">
    <ol class="breadcrumb p-2">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/categories">Categorias</a>
      </li>
      <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
  </div>
</nav>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-start pl-2">
      {{ pageTitle }}
    </h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/categories" class="btn btn-light float-end">Voltar</a>
  </div>
</div>

<form [formGroup]="form" (submit)="submitForm()">
  <div class="card mb-3">
    <div class="card-header">Informações sobre a categoria</div>

    <div class="card-body">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="name">Nome</label>
          <input
            class="form-control"
            id="name"
            type="text"
            formControlName="name"
          />
          <div
            class="text-danger"
            *ngIf="
              form.controls['name'].invalid && form.controls['name'].touched
            "
          >
            <div *ngIf="form.controls['name'].hasError('required')">
              Dados obrigatórios
            </div>
            <div *ngIf="form.controls['name'].hasError('minlength')">
              Devew ter no mínimo 2 caracteres
            </div>
          </div>
        </div>

        <div class="form-group col-md-8">
          <label for="description">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
    </ul>
  </div>

  <button
    [disabled]="form.invalid"
    type="submit"
    class="btn btn-primary btn-lg float-end"
  >
    Salvar
  </button>
</form>
