<nav class="mb-5 bg-light">
  <div class="container rounded-1 Small bg-dark shadow">
    <ol class="breadcrumb p-2">
      <li class="breadcrumb-item">
        <a routerLink="/">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="/entries">Lançamentos</a>
      </li>
      <li class="breadcrumb-item active">{{ pageTitle }}</li>
    </ol>
  </div>
</nav>

<div class="row mb-4">
  <div class="col-md-9">
    <h1 class="h2 border-start pl-2">
      {{ pageTitle }}
    </h1>
  </div>
  <div class="col-md-3">
    <a routerLink="/entries" class="btn btn-light float-end">Voltar</a>
  </div>
</div>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card mb-3">
    <div class="card-header">Informações sobre o lançamento</div>

    <div class="card-body">
      <!-- Type -->
      <div class="row">
        <div class="form-group col-md-2">
          <label for="type">Tipo</label>
          <select
            class="form-control"
            name="type"
            id="type"
            formControlName="type"
          >
            <option *ngFor="let option of typeOptions" [ngValue]="option.value">
              {{ option.text }}
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="
              resourceForm.controls['type'].invalid &&
              resourceForm.controls['type'].touched
            "
          >
            <div *ngIf="resourceForm.controls['type'].hasError('required')">
              Dados obrigatórios
            </div>
          </div>
        </div>

        <!-- Name -->
        <div class="form-group col-md-5">
          <label for="name">Lançamento</label>
          <input
            class="form-control"
            id="name"
            type="text"
            formControlName="name"
          />
          <div
            class="text-danger"
            *ngIf="
              resourceForm.controls['name'].invalid &&
              resourceForm.controls['name'].touched
            "
          >
            <div *ngIf="resourceForm.controls['name'].hasError('required')">
              Dados obrigatórios
            </div>
            <div *ngIf="resourceForm.controls['name'].hasError('minlength')">
              Devew ter no mínimo 2 caracteres
            </div>
          </div>
        </div>

        <!-- Amount -->
        <div class="form-group col-md-3">
          <label for="amount">Valor</label>
          <div class="input-group">
            <div class="input-grou-prepend">
              <div class="input-group-text">R$</div>
            </div>
            <input
              [imask]="imaskConfig"
              class="form-control text-end"
              id="name"
              type="amount"
              formControlName="amount"
            />
          </div>
          <div
            class="text-danger"
            *ngIf="
              resourceForm.controls['amount'].invalid &&
              resourceForm.controls['amount'].touched
            "
          >
            <div *ngIf="resourceForm.controls['amount'].hasError('required')">
              Dados obrigatórios
            </div>
          </div>
        </div>

        <!-- Date -->
        <div class="form-group col-md-2">
          <label for="date">Data</label>
          <br />
          <p-calendar
            id="date"
            formControlName="date"
            inputStyleClass="form-control"
            dataType="string"
            dateFormat="dd/mm/yy"
            [showButtonBar]="true"
          ></p-calendar>
          <div
            class="text-danger"
            *ngIf="
              resourceForm.controls['date'].invalid &&
              resourceForm.controls['date'].touched
            "
          >
            <div *ngIf="resourceForm.controls['date'].hasError('required')">
              Dados obrigatórios
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Paid -->
        <div class="form-group col-md-2">
          <label for="paid center">Pago</label>
          <br />
          <div class="btn-group">
            <label
              (click)="resourceForm.get('paid')?.setValue(true)"
              [class.active]="resourceForm.get('paid')?.value == true"
              class="btn btn-outline-info"
              >Pago</label
            >
            <label
              (click)="resourceForm.get('paid')?.setValue(false)"
              [class.active]="resourceForm.get('paid')?.value == false"
              class="btn btn-outline-info"
              >Pendente</label
            >
          </div>

          <div
            class="text-danger"
            *ngIf="
              resourceForm.controls['paid'].invalid &&
              resourceForm.controls['paid'].touched
            "
          >
            <div *ngIf="resourceForm.controls['paid'].hasError('required')">
              Dados obrigatórios
            </div>
          </div>
        </div>

        <!-- Categorie -->
        <div class="form-group col-md-3">
          <label for="categoryId">Categoria</label>
          <select
            class="form-control"
            name="categoryId"
            id="categoryId"
            formControlName="categoryId"
          >
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
          <div
            class="text-danger"
            *ngIf="
              resourceForm.controls['categoryId'].invalid &&
              resourceForm.controls['categoryId'].touched
            "
          >
            <div
              *ngIf="resourceForm.controls['categoryId'].hasError('required')"
            >
              Dados obrigatórios
            </div>
          </div>
        </div>

        <!-- Description -->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="description"
            formControlName="description"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-danger" *ngIf="serverErrorMessages">
    <strong>Erro no servidor:</strong>
    <ul>
      <li *ngFor="let error of serverErrorMessages">{{ error }}</li>
    </ul>
  </div>

  <button
    [disabled]="resourceForm.invalid"
    type="submit"
    class="btn btn-primary btn-lg float-end"
  >
    Salvar
  </button>
</form>

<pre>{{ resourceForm.value | json }}</pre>
