<app-bread-crumb [items]="[{ text: 'Categorias' }]"></app-bread-crumb>

<div class="row mb-4">
  <div class="col-md">
    <h1 class="h2 border-start pl-2">Categorias</h1>
  </div>
  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-end">+ Nova Categoria</a>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-light">
      <th>Categori</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categorie of resources">
      <td>
        <strong>{{ categorie.name }}</strong
        ><br /><small>{{ categorie.description }}</small>
      </td>
      <td>
        <a
          [routerLink]="[categorie.id, 'edit']"
          class="btn btn-outline-info btn-sm me-3"
          >Editar</a
        >

        <a
          (click)="deleteResource(categorie)"
          class="btn btn-outline-danger btn-sm"
          >Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>
