<app-bread-crumb [items]="[{ text: 'Categorias' }]"></app-bread-crumb>

<app-page-header
  page-title="Categorias"
  button-text="+ Nova Categoria"
  button-link="new"
  button-class="btn-success"
></app-page-header>

<table class="table table-hover">
  <thead>
    <tr class="bg-dark text-light">
      <th>Categori</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categorie of resources">
      <td>
        <strong>{{ categorie.name }}</strong
        ><br /><small>{{ categorie.description }}</small>
      </td>
      <td>
        <a
          [routerLink]="[categorie.id, 'edit']"
          class="btn btn-outline-info btn-sm me-3"
          >Editar</a
        >

        <a
          (click)="deleteResource(categorie)"
          class="btn btn-outline-danger btn-sm"
          >Excluir</a
        >
      </td>
    </tr>
  </tbody>
</table>
